{{>layout/header}}

    <div class="container spacer"></div>
    <div class="container" id="statisticsControl">
        <h1>통계 페이지</h1>
        <button type="button" class="btn btn-primary" id="">조회</button>
    </div>
    <div class="container" id="statisticsArea">
        <div id="statisticsFirstArea" style="width: 600px; height: 400px;"></div>
    </div>

{{>layout/footer}}