{{>layout/header}}

    <div class="container spacer"></div>
    <div class="container" id="statisticsArea">
        <h1>통계 페이지</h1>
        <button type="button" class="btn btn-primary" id="">조회</button>
    </div>
    <div id="statisticsFirstArea"></div>
    <script type="text/javascript" src="{{contextPath}}/app/dist/statistics.js"></script>

{{>layout/footer}}