### Eclipse ###
.metadata
bin/
tmp/
*.tmp
*.bak
*.swp
*~.nib
local.properties
.settings/
.loadpath
.recommenders

# Gradle
.gradle
build/

# Mapstruct, Querydsl
generated/

# webpack
node_modules/
out
package-lock.json

# Security
application-oauth.yml

# Java annotation processor (APT)
.factorypath

# Annotation Processing
.apt_generated/
.apt_generated_test/

# Application ignore list
.project
.classpath
.settings/
bin/
files/
.idea