<!DOCTYPE HTML>
<html>
<head>
    <title>dev</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <link id="contextPathHolder" data-context-path="{{contextPath}}">
</head>
<body>