<!DOCTYPE HTML>
<html>
<head>
    <title>dev</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <link id="contextPathHolder" data-context-path="{{contextPath}}">
    <!-- BootStrap -->
	<link type="text/css" rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
    <!-- CSS 나중에 경로 손봐야함 -->
    <link type="text/css" rel="stylesheet" href="{{contextPath}}/css/common.css">
</head>
<body>