<!DOCTYPE HTML>
<html>
<head>
    <title>dev</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <link id="contextPathHolder" data-context-path="{{contextPath}}">
    <!-- BootStrap -->
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap-theme.min.css">
</head>
<body>