{{>layout/header}}

    <div class="container spacer"></div>
	<div class="container" id="postListTable">
        <form class="searchForm" method="get" action="/dev/post/list">
            <input type="hidden" name="page" value="{{parameter.page}}" />
            <div class="row g-4">
                <div class="col-sm-3">
                    <input name="title" type="text" class="form-control" placeholder="제목" aria-label="제목" value="{{parameter.title}}">
                </div>
                <div class="col-sm">
                    <input name="content" type="text" class="form-control" placeholder="내용" aria-label="내용" value="{{parameter.content}}">
                </div>
                <div class="col-sm-2">
                    <button class="btn btn-primary search">조회</button>
                </div>
                <div class="col-sm">
                    <button class="btn btn-primary write">게시글 작성</button>
                </div>
            </div>
        </form>
	    {{>post/postList}}
	</div>
    <script type="text/javascript" src="{{contextPath}}/app/dist/post.js"></script>

{{>layout/footer}}