* {
    padding: 0;
    margin: 0;
}
.pageDiv {
    display: flex;
    justify-content: center;
    flex-direction: row;
}
.pageDiv a {
    text-decoration: none;
}
.pageDiv .pageLabel {
    color: black;
}
.pageDiv .otherLabel {
    color: #BDBDBD;
}
.pageDiv .nextLabel, .pageDiv .previousLabel {
    font-size: 3px;
    color: #848484;
}
.container.spacer {
    margin-top: 50px;
    margin-bottom: 20px;
    display: flex;
    justify-content: flex-end;
}
form button.write {
    float: right;
}