{{>layout/header}}

    <div class="container">
        <div class="radar1">
            {{#radarData}}
                <div>
                    <p>{{name}}</p>
                    <img src="{{url}}">
                </div>
            {{/radarData}}
        </div>
    </div>

{{>layout/footer}}