{{>layout/header}}

    <div class="container">
        <div class="your-class">
            <div>your content</div>
            <div>your content</div>
            <div>your content</div>
            <div>your content</div>
            <div>your content</div>
            <div>your content</div>
        </div>
    </div>
    <div class="container">
        <div class="radar1"></div>
    </div>

{{>layout/footer}}