{{>layout/header}}

    <div class="container">
        <div class="radar1">
            {{#radarUrl}}
                <img src="{{.}}">
            {{/radarUrl}}
        </div>
    </div>

{{>layout/footer}}