<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head>
    <title layout:title-pattern="$LAYOUT_TITLE : $CONTENT_TITLE">DefaultLayout Title</title>
    <!-- CSS-->
    <th:block th:replace="thymeleaf/fragments/commonHead"></th:block>
</head>
<body>
    <header th:insert="thymeleaf/fragments/commonHeader :: commonHeader"></header>
    <section th:insert="thymeleaf/post/index :: index"></section>
    <section th:insert="thymeleaf/post/section01 :: point"></section>
    <section th:replace="thymeleaf/post/section01 :: #point"></section>
    <footer th:insert="thymeleaf/fragments/commonFooter :: commonFooter"></footer>
</body>
</html>